/*@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.5;
    color: #ebe7ef;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-attachment: fixed;
}

header {
    text-align: center;
}

header img {
    width: 6rem;
    object-fit: contain;
    margin: 1rem auto 1rem auto;
    border-radius: 50%;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

h1 {
    font-family: 'Caprasimo', cursive;
    color: #3f3b00;
    transition: color 200ms linear;
    font-size: 4rem;
    margin: 0 auto 0.5rem auto;
    display: block;
    font-weight: bold;
}

.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    border: none;
}


#players {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#players li {
    display: flex;
    align-items: center;
    width: 40%;
    border: 2px solid transparent;
}

#players.highlight_player li.active {
    border-color: #f6e35a;
    animation: pulse 2s infinite ease-in-out;
}

#players.highlight_player li.active .player_name,
#players.highlight_player li.active .player_symbol {
    color: #f6e35a;
}

#players button {
    width: 3rem;
    border: none;
    background: none;
    color: #c3ba78;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
}

#players button:hover {
    color: #f8ca31;
}

.menu__img {
    background-color: #383624;
    border-radius: 50px;
    padding: 5px;
    width: 49px;
}


.menu__img:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: rotate(90deg);
}

ol {
    list-style: none;
}

.light {
    color: #3f3b00;
    transition: color 200ms linear;
}

.dark {
    color: #eadd7e;
    transition: color 100ms linear;
}


/*#game-hints {*/
/*  text-align: center;*/
/*  color: #46432f;*/
/*}*/

/*#game-hints h2 {*/
/*  font-family: 'Caprasimo', cursive;*/
/*  font-size: 2rem;*/
/*  margin: 0;*/
/*}*/

/*#game-hints ul {*/
/*  list-style: none;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*}*/

/*#game-hints button {*/
/*  cursor: pointer;*/
/*  border: none;*/
/*  background: transparent;*/
/*  color: #23221f;*/
/*  font: inherit;*/
/*  margin-top: 1.5rem;*/
/*}*/

@keyframes slide-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pulse-text {
    0% {
        color: #e1dec7;
    }
    50% {
        color: #9f9d83;
    }
    100% {
        color: #e1dec7;
    }
}

@keyframes pulse-text-size {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        border-color: #f6e35a;
        box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
    }
    50% {
        border-color: #f8c031;
        box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
    }
    100% {
        border-color: #f6e35a;
        box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
    }
}

/* Fancy animation for showing the "Game Over" element */
@keyframes pop-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

